Cython>=0.29.14
gensim>=3.8.0
langid>=1.1.6
matplotlib>=3.1.0
nltk>=3.4.5
numpy>=1.16.4
scikit-learn>=0.21.3
spacy>=2.2.1
SPARQLWrapper>=1.8.4
textblob>=0.15.3
textblob-fr>=0.2.0
yake>=0.3.7
smart_open>=1.9.0
faker>=2.0.4
jupyter>=1.0.0
notebook>=6.0.2