textblob>=0.15.3
nltk>=3.4.5
textblob_fr>=0.2.0
urllib3>=1.25.7
yake>=0.3.7
requests>=2.22.0
Faker>=2.0.4
pycountry>=19.8.18
matplotlib>=3.1.1
spacy>=2.2.2
numpy>=1.17.4
langid>=1.1.6
gensim>=3.8.1
elasticsearch>=7.1.0
elasticsearch_dsl>=7.1.0
protobuf>=3.10.0
pytest>=5.2.4
scikit_learn>=0.21.3
seaborn>=0.9.0
SPARQLWrapper>=1.8.4
six==1.12.0
textract>=1.6.3
wordcloud>=1.6.0
pylint>=2.6.0